%div.g-b.g-b--l--1of12
  %h1.tac Avalon
  %ul
  - if user_signed_in?
    %li
      = link_to 'Sign out', signout_path
  - else
    %li
      = link_to 'Sign in', signin_path
  - if user_signed_in?
    %li
      = link_to 'Users', users_path
      = "#{User.count} registered"

