%div.sidebar.g-b.g-b--l--2of12
  %h1#logo= link_to "Avalon", root_url 
  %ul
  - if user_signed_in?
    %li
      = current_user.username ? current_user.username : current_user.name
    %li
      = link_to "#{icon('smile-o')} favorites".html_safe, favorites_path
    %li
      = link_to 'Sign out', signout_path
  - else
    %li
      = link_to 'Sign in', signin_path
