= render 'layouts/shared/sidebar'

%div.row.row--c
  %div.g-b.g-b--l--11of12.g-b--center
    %h3
      = "#{current_user.favorites.count} favorite".pluralize(current_user.favorites.count) 
    %ul.page
      = render partial: 'favorite', collection: @favorites
    = paginate @favorites

